repos:
- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
  - id: yamllint

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix

- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
    language_version: python3.14

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies:
    - django-stubs
    - types-requests
    args:
    - --config-file=mypy.ini
